@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Mulish";
  /* font-style: italic; */
}

html {
  overflow-x: hidden;
}
body {
  background-color: #232946;
}

/* Navbar */
.nav-container {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 10rem;
  /* margin: 0 auto; */
  align-items: center;
  width: 100%;
  /* position: fixed; */
  z-index: 99;
}

.nav-move {
  background-color: #b8c1ec;
  box-shadow: rgba(0, 0, 0, 0.1) 0 10px 10px;
}

.nav-links ul {
  list-style: none;
  display: flex;
  gap: 3rem;
  align-items: center;
}

.nav-links ul a {
  text-decoration: none;
  color: #d3d3d3;
  font-weight: 600;
  transition: 0.3s;
}

.nav-links ul a:hover {
  color: #fffffe;
}

.logo {
  display: flex;
  align-items: center;
  font-weight: 700;
  color: #fffffe;
}

.menu div {
  width: 25px;
  height: 2px;
  background-color: black;
  margin: 7px;
  transition: 0.3s;
  z-index: 99;
}

.menu {
  display: none;
  z-index: 99;
  position: fixed;
  top: 33px;
  right: 35px;
}

/* Hero */
.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  height: 90vh;
}

.hero-title {
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 400;
  font-size: 0.9rem;
  color: #d3d3d3;
}

.hero-name {
  font-size: 3rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
  color: #fffffe;
}

.hero-sub {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0.5rem 0 1rem;
  color: #b8c1ec;
}

.hero a {
  text-decoration: none;
}

.btn {
  padding: 1rem 1.5rem;
  background: #eebbc3;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  color: #232946;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 1rem 0;
  gap: 1rem;
}

.btn p {
  font-weight: bold;
}

.btn img {
  width: 10px;
  height: 10px;
  margin: 1px;
  padding: 0;
  object-fit: cover;
  transition: 0.3s;
}

.btn:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 5px;
}

.btn:hover.btn img {
  transform: translatex(0.5rem);
}

.hero-left {
  flex: 1;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.hero-right img {
  object-fit: cover;
  width: 400px;
  height: 400px;
  margin: 0 auto;
}

/* about */
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 80%;
  height: 90vh;
}

.about-left {
  flex: 1;
  color: #b8c1ec;
}

.headline {
  font-size: 2rem;
  font-weight: 700;
  color: #fffffe;
}

/* skill */
.skill {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin: 0 auto;
  width: 80%;
  height: 90vh;
}

.skill-left {
  flex: 1;
  color: #b8c1ec;
}

.skill-right {
  flex: 1;
}

/* skill container */
.container {
  position: relative;
  max-width: 1100px;
  width: 100%;
  background: #b8c1ec;
  /* margin: 0 15px; */
  padding: 10px 20px;
  border-radius: 7px;
}

.container .skill-box {
  width: 100%;
  margin: 25px 0;
}

.skill-box .title {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: #232946;
}

.skill-box .skill-bar {
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: rgba(236, 236, 236, 0.568);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: #232946;
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}

.skill-per.javascript {
  width: 95%;
  animation-delay: 0.1s;
}

.skill-per.tailwind {
  width: 80%;
  animation-delay: 0.1s;
}

.skill-per.python {
  width: 90%;
  animation-delay: 0.2s;
}

.skill-per.php {
  width: 90%;
  animation-delay: 0.2s;
}
.skill-per.laravel {
  width: 85%;
  animation-delay: 0.2s;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 3px;
  background: rgb(226, 226, 226);
  z-index: 1;
}

.tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: rgb(226, 226, 226);
  transform: translateX(-50%) rotate(45deg);
}

/* project */
.project {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 5rem auto;
  gap: 3rem;
}

.exp-item {
  display: flex;
  gap: 2rem;
  margin: 2em;
}

.exp-text {
  display: flex;
  flex-direction: column;
  flex: 1.2;
  gap: 1.5rem;
  justify-content: center;
  color: #b8c1ec;
}

.exp-image {
  max-width: 600px;
  height: 300px;
  object-fit: cover;
  border-radius: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 3px 3px 7px;
  flex: 1;
  transition: 0.2s;
}

.exp-image:hover {
  transform: scale(1.05);
  cursor: pointer;
}

ul {
  list-style: none;
  display: flex;
  gap: 3rem;
}

/* contact */
.contact {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 2em;
  flex-direction: column;
  text-align: center;
  width: 80%;
  height: 90vh;
}

/* contact card */
.social-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f2f2f200;
  padding: 15px 10px;
  border-radius: 5em;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 10px;
  background-color: #fff;
  box-shadow: 0px 0px 4px #00000027;
  transition: 0.3s;
}

.social-button:hover {
  background-color: #f2f2f2;
  box-shadow: 0px 0px 6px 3px #00000027;
}

.social-buttons svg {
  transition: 0.3s;
  height: 20px;
}

.facebook {
  background-color: #3b5998;
}

.facebook svg {
  fill: #f2f2f2;
}

.facebook:hover svg {
  fill: #3b5998;
}

.github {
  background-color: #333;
}

.github svg {
  width: 25px;
  height: 25px;
  fill: #f2f2f2;
}

.github:hover svg {
  fill: #333;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin svg {
  fill: #f2f2f2;
}

.linkedin:hover svg {
  fill: #0077b5;
}

.instagram {
  background-color: #c13584;
}

.instagram svg {
  fill: #f2f2f2;
}

.instagram:hover svg {
  fill: #c13584;
}

/* Footer Styles */
footer {
  background-color: #232946;
  color: white;
  text-align: center;
  padding: 20px 0;
  font-family: "Oxygen", sans-serif;
}

/* Responsive */
@media (max-width: 1000px) {
  .nav-container {
    padding: 1.5rem 2rem;
  }
  .hero {
    width: 90%;
  }
  .about {
    width: 90%;
  }

  .menu {
    display: block;
    cursor: pointer;
  }

  .nav-links {
    position: fixed;
    width: 50%;
    right: 0;
    top: 0;
    bottom: 0;
    flex-direction: column;
    background: white;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    z-index: 99;
    transform: translateX(100%);
    transition: 0.3s;
  }

  .nav-links ul {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
  }

  .nav-active {
    transform: translateX(0);
  }

  .menu-toggle .line-1 {
    transform: rotate(-45deg) translate(-5px, 7px);
  }

  .menu-toggle .line-2 {
    opacity: 0;
  }

  .menu-toggle .line-3 {
    transform: rotate(45deg) translate(-5px, -7px);
  }

  .project {
    width: 90%;
  }

  .exp-item {
    flex-direction: column;
  }

  .exp-text {
    order: -1;
  }

  .contact {
    width: 80%;
  }
}

@media (max-width: 768px) {
  .nav-container {
  }
  .hero,
  .about {
    flex-direction: column;
    gap: 5rem;
  }

  .hero img {
    width: 300px;
    height: 300px;
  }

  .hero-right {
    justify-content: center;
    order: -1;
  }

  .hero-left,
  .about-left {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact {
    width: 90%;
  }

  .btn img {
    width: 10px;
    height: 10px;
  }
}
